.git
.idea
CVS
.svn
.hg
.lock-wscript
.wafpickle-N
.*.swp
.DS_Store
._*
npm-debug.log
.npmrc
node_modules
config.gypi
*.orig
imgs/
pages/
store/
utils/
app.js
app.json
app.wxss
project.config.json
sitemap.json